<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Image Grid</span>
  </mat-toolbar>
</p>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h2>
        Gallery
      </h2>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-grid-list cols="5" rowHeight="200px">
    <mat-grid-tile *ngFor="let imageData of imageList" colspan="1" rowspan="1">

      <div class="row">
        <div class="col-12">
          <img class="photo" [src]="imageData.image" alt="">
        </div>
      </div>
      <div class="row to-bottom">
        <div class="col-12 ">
          <button mat-mini-fab color="default" aria-label="Example icon button with a plus one icon">
            <mat-icon (click)="addImage(imageData)" *ngIf="!imageData?.isSelected">add</mat-icon>
            <mat-icon (click)="removeData(imageData)" class="color-danger" *ngIf="imageData?.isSelected">delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>



  <div class="row" >
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="p-t-20">
        <h2 style="background-color: rgb(212, 244, 253);" class="p-20 heading-color">List of selected images</h2>
      </div>

      <div *ngIf="dataSource.length !=0 else showNoDataMessage" class="p-b-20">
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table ">
          <!-- Position Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let element">

              <img [src]="element.image" height="40px" width="40px" alt="">
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{element.title}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <ng-template #showNoDataMessage>
        <div class="row">
          <div class="col-12 text-center">
            <h3>
              No image added.
            </h3>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>